/*-------------------------------*/
/* app css stylesheet */
/*-------------------------------*/

a:link {
  color: #0000ff;
} 

a:visited {
  color: #0000ff;
}

a:hover {
  color: #007; 
}

a:active { 
} 

body {
  padding:0;
  margin:0;
  height:100%;
  overflow:hidden;
}

div.view-container{
  position: relative;
  left:0;
  top:0;
}

.project-images {
  margin-right:1em;
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  border: 1px solid gray;
  float: left;
}

.projects {
  list-style: none;
  padding:0;
  margin:0;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.projects li {
  clear: both;
  height: 115px;
  padding-top: 15px;
  background: white;
}

.projects li img{
  border: 1px solid black;
}

/*-------------------------------*/
/** Detail View **/
/*-------------------------------*/

img.project {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  width: 600px;
  display: none;
}

img.project:first-child {
  display: block;
}


div.project-thumbs-container{
  clear:both;
  background: white;
}

.description{
  background: white;
}

ul.project-thumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid black;
}

ul.project-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em 1em 1em 0;
  background-color: white;
}

ul.project-thumbs img {
  height: 100px;
  padding: 1em;
}

ul.project-thumbs img:hover {
  cursor: pointer;
}

/* Specs */

ul.specs {
  margin: 0;
  list-style: none;
  background: white;
}

ul.specs > li{
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

/*--- */

h1 {
  border-bottom: 1px solid gray;
}

/* Bio */

.bio {
}

.bio .name {
  font-weight: bold;
}

.bio ul.degrees{
  list-style: none;
  font-size:smaller;
  margin:0;
  padding:0;
}

.bio ul.degrees .degree{
  margin-top:3px;
}

.bio ul.degrees .degree img.country-icon{
  margin-right:5px;
}

.bio .status-title, .bio .references-title{
  font-weight: bold;  
}

.bio img.ref-icon{
  margin-right:5px;
}

.contact img.ref-icon{
  margin-right:5px;
}

.bio, .contact{
    background: white;
    padding:5px;
}