<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <h1>My Bio</h1>
      <div class="bio">
        <img class="photo" ng-src="{{user.photoUrl}}"/>
        <div class="name">{{user.name}}</div>
        <ul class="degrees">
          <li ng-repeat="degree in user.degree"
              class="degree">
              <img class="country-icon" ng-src="{{degree.icon}}"/>
              {{degree.title}}
          </li>
        </ul>
        <br/>
        <div class="cv">
          <a target="_blank" ng-href="{{user.cv}}">
            <img class="ref-icon" ng-src="img/core/pdf.png"/>
          </a>
          <a target="_blank" ng-href="{{user.cv}}">
            CV (R&eacute;sum&eacute;)
          </a>
        </div>        
        <div class="linkedIn">
          <a target="_blank" target="_blank" ng-href="{{user.labUrl}}">
            <img class="ref-icon" ng-src="img/core/linkedin.png"/>
          </a>
          <a target="_blank" target="_blank" ng-href="{{user.linkedInUrl}}">LinkedIn Profile</a>
        </div>
        <div class="labUrl">
          <a target="_blank" ng-href="{{user.labUrl}}">
            <img class="ref-icon" ng-src="img/core/gsdlab.png"/>
          </a>
          <a target="_blank" ng-href="{{user.labUrl}}">
            Laboratory Homepage
          </a>
        </div>        
        <br/>
        <div class="status-title">Current status:</div> 
        <div class="status">{{user.status}}</div>      
      </div>
      <h1>Contact Me</h1>
      <div class="contact">
        <div class="email">
          <a target="_blank" href="mailto:{{user.email}}">
            <img class="ref-icon" ng-src="img/core/email.png"/>
          </a>          
          <a target="_blank" class="email" href="mailto:{{user.email}}">{{user.email}}</a>
        </div>
        <div class="call">
          <img class="ref-icon" ng-src="img/core/call.png"/>
          <span class="call">{{user.phone}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <h1>My Top Projects</h1>
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabet</option>
        <option value="weight">Coolness</option>
      </select>
      <br/>
      <br/>
      <ul class="projects">
        <li ng-repeat="project in projects | filter:query | orderBy:orderProp"
            class="thumbnail project-listing">
          <a href="#/projects/{{project.id}}" class="thumb"><img ng-src="{{project.imageUrl}}"></a>
          <a href="#/projects/{{project.id}}">{{project.name}}</a>
          <p>{{project.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
