<div class="project-images">
  <img ng-src="{{img}}"
       class="project"
       ng-repeat="img in project.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<div>
  <h1>{{project.title}}</h1>
  <a href="#/projects/">&#8592; Back to Project List</a>
  <br/><br/>
  <ul class="specs">
    <li>
      <dt>Category</dt>
      <dd>{{project.category}}</dd>
      <dt>Commercial</dt>
      <dd>{{project.commercial | checkmark}}</dd>
      <dt>Developed in</dt>
      <dd>{{project.years}}</dd>
    </li>
    <li>
      <dt>Authors</dt>
      <dd>{{project.authors}}</dd>
      <dt>Technologies</dt>
      <dd>{{project.technologies}}</dd>
    </li>
    <li>
      <div ng-if="project.url">
        <dt>URL</dt>
        <dd ng-bind-html="project.url | filterUrl"></dd> 
      </div>
      <div ng-if="project.binaryurl">
        <dt>Download</dt>
        <dd ng-bind-html="project.binaryurl | filterUrl"></dd> 
      <div>
      <div ng-if="project.sourceurl">
        <dt>Source</dt>
        <dd ng-bind-html="project.sourceurl | filterUrl"></dd> 
      <div>
    </li>
  </ul>
  <br/>
  <dt>Description</dt>
  <dd>{{project.description}}</dd>
  <br/>
  <dt>My Contribution</dt>
  <dd class="contribution">
    <ul class="contribution">
      <li ng-repeat="item in project.contribution">
        {{item}}
      </li>
    </ul>
  </dd>
  <br/>
  <div class="backlink"><a href="#/projects/">&#8592; Back to Project List</a></div>
</div>

<div class="project-thumbs-container">
<span>Click to enlarge the images below:</span>
<ul class="project-thumbs">
  <li ng-repeat="img in project.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>



</div>